---
layout: default
title: Teddy's Blog
---

<div id="home">
  <h3>目录列表</h3>
  <ul class="posts sorted">
  </ul>

  <ul class="posts main">
  {% for category in site.categories %}
    {% assign cname = category | first | tags %}
    {% unless cname == 'newest' or cname == 'posts' %}
      <li class="category {{cname}}">
        <a href="categories/{{ category | first }}.html">
          {{ cname | capitalize }}({{ category | last | size }})
        </a>

        <ul>
          {% for post in category.last %}
            <li>
              <span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; 
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}
  {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  $(function(){
    // define category list order
    var cnames = ['ruby', 'algorithm', 'frontend', 'java', 'other'];
    _.each(cnames, function(name){
      $('.posts.main>li.' + name).appendTo($('.posts.sorted'));
    });
  })
</script>
