---
layout: default
title: Teddy's Blog
---

<div id="home">
  <h3>目录列表</h3>
  <ul class="posts">
  {% for category in site.categories %}
    {% assign cname = category | first | tags %}
    {% unless cname == 'newest' or cname == 'posts' %}
      <li>
        <a href="categories/{{ category | first }}.html">
          {{ cname | capitalize }}({{ category | last | size }})
        </a>
      </li>
      
      {% for post in category.last %}
        <ul>
          <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; 
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
        </ul>
      {% endfor %}
    {% endunless %}
  {% endfor %}
  </ul>
</div>
