<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{site.assets_css}}/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{site.assets_css}}/main.css">
  <link rel="stylesheet" type="text/css" href="{{site.assets_css}}/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{{site.assets_css}}/bootstrap-responsive.css">

  <script type="text/javascript" src="{{site.assets_js}}/jquery.js"></script>
  <script type="text/javascript" src="{{site.assets_js}}/bootstrap.js"></script>
  <script type="text/javascript" src="{{site.assets_js}}/underscore.js"></script>
  <script type="text/javascript" src="{{site.assets_js}}/backbone.js"></script>
  <script type="text/javascript" src="{{site.assets_js}}/main.js"></script>
</head>

<body>
  <div class="container-fluid">
    <!-- header -->
    <div class="row-fluid">
      <div class="span12">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a href="/" class="brand">{{site.blogtitle}}</a>
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                  <li class="active">
                    <a href="/">主页</a>
                  </li>
                </ul>

                <ul class="nav pull-right">
                  <li>
                    <a target="_blank" href="{{site.aboutsite}}">关于</a>
                  </li>
                  <li class="divider-vertical">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- main -->
    <div class="row-fluid">
      <!-- left_sidebar -->
      <div class="span3 left-nav">
        <div class="row-fluid content">
          <h3>{{site.blogmotto}}</h3>
          <a target="_blank" href="{{site.aboutsite}}">
            <img class="my_photo" src="/assets/img/my_photo.jpg" alt="{{site.username}}">
          </a>
          <div class="row-fluid">
            At ShangHai, Since 2014.
          </div>
        </div>

        <div class="row-fluid newer_posts">
          <div class="row-fluid">
            <h4 class="">
              <a href="{{ site.categories_path }}/newest.html">
                 Recently posts
              </a>
            </h4>
          </div>
          <ul class="posts">
            {% for post in site.categories['newest'] %}
              <li>
                <span>{{ post.date | date: "%Y/%m/%d" }}</span>
                 &raquo; 
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- right_sidebar -->
      <div class="span9 main-content">
        <div class="site">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="row-fluid">
      <div class="span12">
        <div class="footer">
          <div class="contact">
            <p>
              Copyright ©2014<br />
              Feel free to 
              <a href="mailto:{{site.useremail}}">contact me</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
